body {
    font-family: arial, sans-serif;
}

#content-calendar {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 250px));
    column-gap: .6em;
    row-gap: .6em;
    justify-content: center;
    align-items: center;
    max-width: 1280px;
    justify-content: center;
    align-items: center;
    margin: auto;
}

#content-calendar .item {
    position: relative;
    display: flex !important;
    flex-direction: column;
    justify-content: flex-start !important;
    align-items: center !important;
    border-radius: 4px;
    width: 300px;
    height: 250px;
    background-color: blueviolet;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin: 0 auto;
    padding: 0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}


.button {
    display: flex;
    align-items: center;
    justify-content: center;
    
    height: 62px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: auto;
    box-shadow: 4px 4px 0px rgba(0,0,0, 0.25);
    transition: all 0.25s;
    cursor: pointer;
    /* display: inline-block; */
    max-width: 200px;
}

.button.shop {
    background-color: #F3B745;
}

.button.action {
    color: white;
    background-color: rgb(254,95,85);
}

.button:hover {
    filter: saturate(1.2);
    transform: translate(2px, 2px);
    box-shadow: 2px 2px 0px rgba(0,0,0, 0.75);
    text-decoration: underline;
}
